@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans/OpenSans-Regular.woff2) format('woff2'), url(../fonts/opensans/OpenSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans/OpenSans-Bold.woff2) format('woff2'), url(../fonts/opensans/OpenSans-Bold.woff2) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/opensans/OpenSans-ExtraBold.woff2) format('woff2'), url(../fonts/opensans/OpenSans-ExtraBold.woff) format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
}

iframe {
    max-height: 100%;
    border: 0 !important;
}

a {
    -webkit-transition: all ease 150ms;
    -moz-transition: all ease 150ms;
    -o-transition: all ease 150ms;
    transition: all ease 150ms;
    text-decoration: none;
    /*color: #783b9c;*/
    color: #B7005B;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}

.navbar {
    padding: 12px;
    background: #EEEEEE;
    min-height: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    /*background-color:rgba(0, 0, 0, 0.0);*/
}

.navbar a {
    /*color:#FFFFFF;*/
}

.navbar a:hover {
    text-decoration: none;
}

.jumbotron {
    background-color: #FFFFFF;
    margin-bottom: -50px;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.04em;
    font-size: 50px;
    line-height: 1.1;
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)*/
    text-shadow: 2px 2px 4px rgba(142, 0, 0, 0.8);
}

.jumbotron h2, .jumbotron a {
    color: #FFFFFF;
    line-height: 130%;
    text-shadow: 2px 2px 4px rgba(142, 0, 0, 0.8);
}

.btn-outline {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.body-content h1 {
    line-height: 1.1;
    margin-bottom: 20px;
    padding: 10px 0;
}

.body-content h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.0em;
    font-weight: 700;
    color: #666666;
}

.body-content h4 {
    text-align: left;
}

.body-content .supporters img {
    width: 150px;
}

.body-content .supporters .caption {
    font-size: 0.80em;
    line-height: 0.80em;
    opacity: .5;
    filter: alpha(opacity=50);
}

ul.participation, ul.participation-topics {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.participation-topics li {
    /*float:left;*/
    text-align: left;
}

input {
    display: block;
    vertical-align: middle;
    line-height: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

footer {
    padding: 50px 0 50px 0;
    margin-top: 50px;
    /*background-color: #b6294c;*/
    /*color: #FFFFFF;*/
}

.body-content .supporters div.text-center {
    min-height: 160px;
}


ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: block;
}

