{% extends 'master.html' %}

{% block content %}
{% include 'taahhut.html' %}


<div class="clearfix" style="margin-top: 50px"></div>
<ul class="share-buttons">
    <li><img src="img/social/Twitter.png"></li>
    <li>
        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ftaahhutname.org&text=Taahh%C3%BCtname%20%C4%B0nternet%20%C3%96zg%C3%BCrl%C3%BC%C4%9F%C3%BC%20ve%20Dijital%20Haklar%C4%B1n%20Korunmas%C4%B1%20i%C3%A7in%20S%C3%B6z%20Ver!%20http%3A%2F%2Ftaahhutname.org&hashtags=InterneticinSozVerdim&via=altbilisim"
           target="_blank" title="Tweet">Twitter'da Paylaş</a></li>
    <li><a href="https://twitter.com/altbilisim" class="twitter-follow-button" data-show-count="false"
           data-lang="en" data-size="large">Takip Et: @altbilisim</a>
    </li>
</ul>

<div class="clearfix" style="margin-top: 130px"></div>
<div class="row clearfix">
    <div class="col-md-6 column">
        <h2 style="font-size: 180%;">
            MİLLETVEKİLİ ADAYLARI
        </h2>

        <p>
            Taahhütname'ye imza vererek seçmenlere İnternet Özgürlüğü ve
            Dijital Hakların korunması için söz verin. Taahhütname'yi imzalamak için
            bize <strong>eposta</strong> veya <strong>twitter</strong> yoluyla erişebilirsiniz.
        </p>

        <p>
            <a class="btn btn-default btn-lg" href="#contact">İmzala »</a>
        </p>
    </div>
    <div class="col-md-6 column">
        <h2 style="font-size: 180%;">
            SEÇMENLER
        </h2>

        <p>
            Meclise göndermek istediğiniz vekil adaylarının ve desteklediğiniz siyasi partinin Taahhütname'yi
            imzalaması için baskı yapın. Sosyal Medya aracılığı ile imza talep edin.
        </p>

        <p>
            <a class="btn btn-default btn-lg" href="#">Destekle »</a>
        </p>
    </div>
</div>


<div class="clearfix" style="margin-top: 130px"></div>
<a name="supporters" id="supporters"></a>

<h2 class="text-center" style="font-size: 180%">İMZALAYAN MİLLETVEKİLLERİ</h2>

{% include 'list-wrapper.html' %}

<div class="clearfix" style="margin-top: 130px"></div>
<a name="contact" id="contact"></a>

<h2>İLETİŞİM</h2>
<p class="lead">
    Taahhütnameyi imzalamak ve kampanya hakkında her türlü geri dönüşleriniz için iletişim bilgilerimiz:
</p>
<p class="lead">
    Eposta: <a href="mailto:bilgi@alternatifbilisim.org">bilgi@alternatifbilisim.org</a><br/>
    Twitter: <a href="https://twitter.com/altbilisim" target="_blank">@altbilisim</a><br/>
    Web: <a href="https://alternatifbilisim.org">alternatifbilisim.org</a>
</p>

{% endblock %}
