<!doctype html>
{% include 'aaron.html' %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Taahhütname.org, 7 Haziran 2015 seçimlerinde milletvekili adaylarının seçilmeleri halinde,
          dijital hak ve özgürlüklerin korunması hakkında yurttaşlarla yaptıkları sözleşmedir.">
    <meta name="author" content="Alternative Informatics Association">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title>Taahhütname</title>

    <meta property="og:title" content="Taahhütname - Internet ve Dijital Özgürlükler için Söz Veriyorum">
    <meta property="og:description" content="Taahhutname.org, 7 Haziran 2015 seçimlerinde milletvekili adaylarının seçilmeleri halinde,
          dijital hak ve özgürlüklerin korunması hakkında yurttaşlarla yaptıkları sözleşmedir."/>
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://taahhutname.org/img/ungovinternet-poster-3.jpg">
    <meta property="og:url" content="https://taahhutname.org">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@altbilisim">
    <meta name="twitter:title" content="Taahhütname - Internet ve Dijital Özgürlükler için Söz Veriyorum">
    <meta name="twitter:description"
          content="Taahhütname - Internet ve Dijital Özgürlükler için Söz Veriyorum">
    <meta name="twitter:creator" content="@altbilisim">
    <meta name="twitter:image:src" content="https://taahhutname.org/img/sozveriyorum.png">
    <meta name="twitter:domain" content="taahhutname.org">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/jquery-lang.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/tr.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/hashController.js" charset="utf-8"></script>

</head>
<body>

<div class="navbar navbar-fixed-top pull-right">
</div>

<a name="home" id="home"></a>

<div class="jumbotron">
    <div class="container text-center">
        <img src="/img/sozveriyorum.png" class="img-responsive" style="margin: 0 auto;">
        <!--<h1>taahhütname</h1>-->
    </div>
</div>

<div class="body-content">
    <div class="container">
        {% block content %}
        {{ page.content }}
        {% endblock %}
    </div>
</div>

<footer role="contentinfo">
    <div class="container text-center">
        <p>
            Bir <a href="https://alternatifbilisim.org" target="_blank">Alternatif Bilişim</a> kampanyasıdır.

            Website License GNU/GPL v3

            <img src="img/alternatifbilisim-logo-horizontal.png" class="img-responsive" style="margin: 15px auto;">
        </p>
    </div>
</footer>

</body>
</html>
