<ul class="pagination">
    <li{% if pagination.current == 0 %} class="disabled"{% endif %}>
        <a href="#onceki-sayfa">Önceki</a>
    </li>
    <li class="{% if pagination.current == 0 %}active{% endif %}">
        <a href="#1.sayfa">1</a>
    </li>
    {% for i in range(1,pagination.pages) %}
    <li class="{% if pagination.current == i %}active{% endif %}">
        <a href="#{{i + 1}}.sayfa">{{ i + 1 }}</a>
    </li>
    {% endfor %}
    <li{% if pagination.current >= pagination.pages - 1 %} class="disabled"{% endif %}>
        <a href="#sonraki-sayfa">Sonraki</a>
    </li>
    <li class="search">
        <input type="text" class="form-control" placeholder="Ad veya şehre göre aday arama" value="{{pagination.search}}"/>
    </li>
</ul>
